@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    --blue: #0845bf;
    --white: #f2f2f2;
    --dark: #434343;
    --blue-gradient: #6292f3, #0845bf;
    --white-gradient: #ffffff, #d7d7d7;
}

* {
    font-family: "Rubik", sans-serif;
}

body {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    overflow-x: hidden;
    font-smooth: always;
    line-height: 1.6;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Disable Draggable Images */

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* End Disable Draggable Images */

/* Navbar Blade */

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 100px;
    background-color: white;
    z-index: 999;
    width: 100%;
    position: fixed;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

#navbar.navbar-stick {
    filter: drop-shadow(3px 3px 0 var(--blue));
    -webkit-filter: drop-shadow(3px 3px 0 var(--blue));
}
/*NavbarLogo*/
.navbar-brand {
    width: 200px;
}
/* End Navbar Logo */

.navbar-list {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-weight: 600;
}

.navbar-list li > a {
    font-size: 1.2rem;
    color: var(--blue);
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    border-radius: 8px;
}

.navbar-list li > .active {
    background: var(--blue);
    color: white;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    filter: drop-shadow(3px 3px 0 var(--dark));
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    -webkit-filter: drop-shadow(3px 3px 0 var(--dark));
}

.navbar-list li > .active:hover {
    background: var(--dark);
    color: white;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    filter: drop-shadow(3px 3px 0 var(--blue));
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    -webkit-filter: drop-shadow(3px 3px 0 var(--blue));
}

.navbar-list li > a:hover {
    background: var(--blue);
    color: white;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    filter: drop-shadow(3px 3px 0 var(--dark));
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    -webkit-filter: drop-shadow(3px 3px 0 var(--dark));
}

.button-group-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.button-primary {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    filter: drop-shadow(3px 3px 0 var(--dark));
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    -webkit-filter: drop-shadow(3px 3px 0 var(--dark));
}

.button-primary:hover {
    transform: translate(4px, 4px);
    -webkit-transform: translate(4px, 4px);
    -moz-transform: translate(4px, 4px);
    -ms-transform: translate(4px, 4px);
    -o-transform: translate(4px, 4px);
    filter: none;
    -webkit-filter: none;
}

.button-secondary {
    background-color: var(--dark);
    color: white;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    filter: drop-shadow(3px 3px 0 var(--blue));
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    -webkit-filter: drop-shadow(3px 3px 0 var(--blue));
}

.button-secondary:hover {
    transform: translate(4px, 4px);
    -webkit-transform: translate(4px, 4px);
    -moz-transform: translate(4px, 4px);
    -ms-transform: translate(4px, 4px);
    -o-transform: translate(4px, 4px);
    filter: none;
    -webkit-filter: none;
}

/* End Navbar Blade */

/* Login Form */

.login-page {
    display: flex;
    justify-content: end;
    margin-right: 20rem;
    align-items: center;
    background-color: var(--blue);
    height: 100vh;
}

.login-page img {
    width: 800px;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.login-form h1 {
    color: white;
}

.login-form label {
    color: white;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

.login-form form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: white;
}
.login-form form input {
    color: white;
    width: 20vw;
    outline: none;
    border-bottom: 1px solid var(--blue);
    padding: 10px 5px 10px 5px;
    background-color: transparent;
}

.login-form form input:focus {
    width: 20vw;
}

.login-form button {
    background-color: var(--blue);
    padding: 10px 40px 10px 40px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid var(--blue);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all ease-in-out 0.3s;
}

.login-form button:hover {
    translate: 2px 2px;
    border: 2px solid var(--blue);
}

/* End Login Form */

/* Register Form */

.register-page {
    display: flex;
    justify-content: end;
    margin-right: 20rem;
    align-items: center;
    background-color: var(--blue);
    height: 100vh;
}

.register-page img {
    width: 800px;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 70px;
    height: 700px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.register-form h1 {
    margin-top: -80px;
    color: white;
}

.register-form label {
    color: white;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

.register-form form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: white;
}
.register-form form input {
    color: white;
    width: 20vw;
    outline: none;
    border-bottom: 1px solid var(--blue);
    padding: 10px 5px 10px 5px;
    background-color: transparent;
}

.register-form form input:focus {
    width: 20vw;
}

.register-form button {
    background-color: var(--blue);
    padding: 10px 40px 10px 40px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid var(--blue);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all ease-in-out 0.3s;
}

.register-form button:hover {
    translate: 2px 2px;
    border: 2px solid var(--blue);
}

.register-form .alert-error {
    position: absolute;
}

/* End Resgister Form */

/* Home Intro */
.home-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    gap: 8rem;
    background-color: white;
}
/* Avatar Intro */
.home-intro .avatar-header {
    /* border-radius: 50px 300px 800px; */
    margin-right: -200px;
    z-index: 666;
    width: 600px;
    /* background: linear-gradient(to right, var(--blue-gradient));
    -webkit-border-radius: 50px 300px 800px;
    -moz-border-radius: 50px 300px 800px;
    -ms-border-radius: 50px 300px 800px;
    -o-border-radius: 50px 300px 800px; */
}
/* End Avatar Intro */

.home-intro .home-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.home-intro .home-header h1 {
    font-size: 2.8rem;
    background-image: linear-gradient(to left, var(--blue-gradient));
    color: transparent;
    background-clip: text;
    font-weight: 900;
}

.home-intro .home-header p {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--dark);
}

.home-intro .home-header .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    margin-top: 5px;
}

.home-intro .home-header .button-group .button-primary {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    filter: drop-shadow(3px 3px 0 var(--dark));
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    -webkit-filter: drop-shadow(3px 3px 0 var(--dark));
}

.home-intro .home-header .button-group .button-primary:hover {
    transform: translate(4px, 4px);
    -webkit-transform: translate(4px, 4px);
    -moz-transform: translate(4px, 4px);
    -ms-transform: translate(4px, 4px);
    -o-transform: translate(4px, 4px);
    filter: none;
    -webkit-filter: none;
}

.home-intro .home-header .button-group .button-secondary {
    background-color: var(--dark);
    color: white;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    filter: drop-shadow(3px 3px 0 var(--blue));
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    -webkit-filter: drop-shadow(3px 3px 0 var(--blue));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.home-intro .home-header .button-group .button-secondary:hover {
    transform: translate(4px, 4px);
    -webkit-transform: translate(4px, 4px);
    -moz-transform: translate(4px, 4px);
    -ms-transform: translate(4px, 4px);
    -o-transform: translate(4px, 4px);
    filter: none;
    -webkit-filter: none;
}

/* End Home Intro */

/* Slogan */

.slogan-content {
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: var(--blue);
    height: 30vh;
    width: 100vw;
}

.slogan-content img {
    width: 1000px;
    margin-top: -200px;
}

/* End Slogan */

/* Home Content */

.home-content {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

.home-content-wrapper {
    display: flex;
    flex-direction: column;
}

/* Wrapper Primary */

.home-content .wrapper-primary {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.home-content .wrapper-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.home-content .wrapper-primary .wrapper-content {
    display: flex;
    justify-content: start;
    align-self: flex-end;
    align-items: center;
    padding: 20px;
    width: 1280px;
    height: 300px;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

.home-content .wrapper-content h2 {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--blue);
}

.home-content .wrapper-secondary .wrapper-content {
    display: flex;
    justify-content: start;
    align-self: flex-end;
    align-items: center;
    padding: 20px;
    width: 1280px;
    height: 300px;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

.home-content .button-group {
    display: flex;
    gap: 10px;
    width: 30%;
    margin-top: 20px;
}

/* Home Card */
.home-content .card {
    box-sizing: border-box;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 500px;
    height: 250px;
    border-radius: 20px;
    border: 1px solid var(--blue);
    filter: drop-shadow(4px 4px 0 var(--blue));
    -webkit-filter: drop-shadow(4px 4px 0 var(--blue));
    background-color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.home-content .wrapper-content .card .card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.home-content .wrapper-content .card img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.home-content .wrapper-content .card .card-content p {
    width: 200px;
    height: 80px;
}

/* Home Content Button */
.home-content .wrapper-content .card .button-group {
    display: flex;
    flex-direction: column;
}

.home-content .wrapper-content .card .button-primary {
    background-color: var(--blue);
    display: flex;
    color: white;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    filter: drop-shadow(3px 3px 0 var(--dark));
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    -webkit-filter: drop-shadow(3px 3px 0 var(--dark));
}

.home-content .wrapper-content .card .button-primary:hover {
    filter: none;
    -webkit-filter: none;
    transform: translate(3px, 3px);
    -webkit-transform: translate(3px, 3px);
    -moz-transform: translate(3px, 3px);
    -ms-transform: translate(3px, 3px);
    -o-transform: translate(3px, 3px);
}

/* End Wrapper Primary */

/* End Home Content */

/* About Content */
.about-intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 90vh;
    margin-bottom: -500px;
}

.about-intro .building {
    filter: drop-shadow(3px 3px 0 var(--white));
    width: 800px;
    -webkit-filter: drop-shadow(3px 3px 0 var(--white));
}

.about-header {
    width: 600px;
}

.about-header .button-group {
    margin-top: 10px;
    display: flex;
    gap: 0.5rem;
}

.about-intro h1 {
    color: var(--blue);
    font-size: 3rem;
    font-weight: bold;
}

.about-intro p {
    color: var(--dark);
    font-weight: 600;
}

.about-vision {
    display: flex;
    padding: 5rem;
    gap: 5rem;
    justify-content: space-evenly;
    background: var(--blue);
    color: white;
}

.about-story-content {
    width: 40%;
}

.about-story-content h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.about-mission-content {
    width: 40%;
}

.about-mission-content h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.about-value {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 100vw;
}

.about-value .about-avatar {
    width: 600px;
}
.about-value-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 800px;
}

.about-value-content h2 {
    font-size: 4rem;
    color: var(--blue);
    font-weight: bold;
}

.about-value-content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.about-value-content ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2rem;
    color: var(--white);
    font-weight: bold;
    filter: drop-shadow(3px 3px 0 var(--dark));
    border: 1px solid var(--dark);
    background-color: var(--blue);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-filter: drop-shadow(3px 3px 0 var(--dark));
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

.about-value-content ul li:hover {
    cursor: default;
    transform: translate(4px, 4px);
    filter: none;
    -webkit-filter: none;
    -webkit-transform: translate(4px, 4px);
    -moz-transform: translate(4px, 4px);
    -ms-transform: translate(4px, 4px);
    -o-transform: translate(4px, 4px);
}

/* End About Content */

/*  */

/* Products Content */

/* End Products Content */

/* Contact Content */

/* End Contact Content */

/* Blog Content */

/* End Blog Content */

/*  */

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    width: 100vw;
    height: 400px;
    padding: 20px;
}

footer .footer-logo {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 400px;
}

footer .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

footer .footer-content h3 {
    background: linear-gradient(to right, var(--white-gradient));
    color: transparent;
    font-size: 1.6rem;
    background-clip: text;
    font-weight: 600;
}

footer .footer-content p {
    background: linear-gradient(to right, var(--white-gradient));
    color: transparent;
    font-size: 1rem;
    background-clip: text;
    font-weight: 600;
}

footer .footer-about,
.footer-contact,
.footer-address {
    width: 300px;
}

.footer-contact i {
    color: white;
    font-size: 2rem;
}

/* End Footer */
