@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    --blue: #0845bf;
    --blue-hover: #1d57cc;
    --white: #f2f2f2;
    --white-hover: #dbdbdb;
    --dark: #434343;
    --dark-hover: #545454;
    --blue-gradient: #6292f3, #0845bf;
    --white-gradient: #ffffff, #d7d7d7;
    --font-title: 700;
    --font-desc: 500;
    --size-title: 2.7rem;
    --size-desc: 1rem;
}

* {
    font-family: "Rubik", sans-serif;
}

body {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    overflow-x: hidden;
    font-smooth: always;
    line-height: 1.6;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

/* Disable Draggable Images */

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* End Disable Draggable Images */

/* Container */
.container {
    width: 1080px;
    padding: 20px;
}
/* End Container */

/* Navbar Blade */

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 100px;
    background-color: white;
    z-index: 999;
    width: 100%;
    position: fixed;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

#navbar.navbar-stick {
    filter: drop-shadow(3px 3px 0 var(--blue));
    -webkit-filter: drop-shadow(3px 3px 0 var(--blue));
}
/*NavbarLogo*/
.navbar-brand {
    width: 200px;
}
/* End Navbar Logo */

.navbar-list {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.navbar-list li > a {
    font-size: 1.2rem;
    color: var(--blue);
    font-weight: var(--font-desc);
    padding: 5px 15px 5px 15px;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    border-radius: 8px;
}

.navbar-list li > .active {
    background: var(--blue);
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
}

.navbar-list li > .active:hover {
    background: var(--blue-hover);
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
}

.navbar-list li > a:hover {
    background: var(--blue);
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
}

.button-group-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.button-primary {
    background-color: var(--blue);
    color: white;
    font-weight: var(--font-desc);
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
}

.button-primary:hover {
    background-color: var(--blue-hover);
}

.button-secondary {
    background-color: var(--dark);
    color: white;
    font-weight: var(--font-desc);
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
}

.button-secondary:hover {
    background-color: var(--dark-hover);
}

/* End Navbar Blade */

/* Login Form */

.login-page {
    display: flex;
    justify-content: end;
    margin-right: 20rem;
    align-items: center;
    background-color: var(--blue);
    height: 100vh;
}

.login-page img {
    width: 800px;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.login-form h1 {
    color: white;
}

.login-form label {
    color: white;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

.login-form form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: white;
}

.login-form form input {
    color: white;
    width: 20vw;
    outline: none;
    border-bottom: 1px solid var(--blue);
    padding: 10px 5px 10px 5px;
    background-color: transparent;
}

.login-form form input:focus {
    width: 20vw;
}

.login-form button {
    background-color: var(--blue);
    padding: 10px 40px 10px 40px;
    font-weight: var(--font-title);
    font-size: 16px;
    border: 2px solid var(--blue);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all ease-in-out 0.3s;
}

.login-form button:hover {
    translate: 2px 2px;
    border: 2px solid var(--blue);
}

/* End Login Form */

/* Register Form */

.register-page {
    display: flex;
    justify-content: end;
    margin-right: 20rem;
    align-items: center;
    background-color: var(--blue);
    height: 100vh;
}

.register-page img {
    width: 800px;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 70px;
    height: 700px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.register-form h1 {
    margin-top: -80px;
    color: white;
}

.register-form label {
    color: white;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

.register-form form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: white;
}
.register-form form input {
    color: white;
    width: 20vw;
    outline: none;
    border-bottom: 1px solid var(--blue);
    padding: 10px 5px 10px 5px;
    background-color: transparent;
}

.register-form form input:focus {
    width: 20vw;
}

.register-form button {
    background-color: var(--blue);
    padding: 10px 40px 10px 40px;
    font-weight: var(--font-title);
    font-size: 16px;
    border: 2px solid var(--blue);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all ease-in-out 0.3s;
}

.register-form button:hover {
    translate: 2px 2px;
    border: 2px solid var(--blue);
}

.register-form .alert-error {
    position: absolute;
}

/* End Resgister Form */

/* Home Intro */
.home-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    gap: 8rem;
    background-color: white;
}
/* Avatar Intro */
.home-intro .avatar-header {
    /* border-radius: 50px 300px 800px; */
    margin-right: -200px;
    z-index: 666;
    width: 600px;
    /* background: linear-gradient(to right, var(--blue-gradient));
    -webkit-border-radius: 50px 300px 800px;
    -moz-border-radius: 50px 300px 800px;
    -ms-border-radius: 50px 300px 800px;
    -o-border-radius: 50px 300px 800px; */
}
/* End Avatar Intro */

.home-intro .home-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.home-intro .home-header h1 {
    font-size: 2.7rem;
    background-image: linear-gradient(to left, var(--blue-gradient));
    color: transparent;
    background-clip: text;
    font-weight: var(--font-title);
}

.home-intro .home-header p {
    font-size: 1rem;
    font-weight: var(--font-desc);
    color: var(--dark);
}

.home-intro .home-header .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    margin-top: 5px;
}

/* End Home Intro */

/* Slogan */

.slogan-content {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: var(--blue);
    height: 30vh;
    width: 100vw;
}

.slogan-content img {
    width: 1000px;
    margin-top: -200px;
}

/* End Slogan */

/* Home Content */

.home-content {
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.home-content-wrapper {
    display: flex;
    flex-direction: column;
}

.home-content-wrapper img {
    display: flex;
    align-self: center;
    width: 80%;
}

/* Wrapper Primary */

.home-content .wrapper-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
}

.home-content .wrapper-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
}

.home-content .wrapper-primary .wrapper-content,
.wrapper-secondary .wrapper-content {
    display: flex;
    justify-content: start;
    align-self: flex-end;
    align-items: center;
    padding: 20px;
    width: 70%;
    height: 300px;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

.home-content .wrapper-content h2 {
    font-size: 1.6rem;
    font-weight: var(--font-title);
    color: var(--blue);
}

/* .home-content .wrapper-secondary .wrapper-content {
    display: flex;
    justify-content: start;
    align-self: flex-end;
    align-items: center;
    padding: 20px;
    width: 1280px;
    height: 300px;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
} */

.home-content .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 30%;
    margin-top: 20px;
}
.wrapper-primary .button-group .button-primary,
.wrapper-primary .button-group .button-secondary,
.wrapper-secondary .button-group .button-primary,
.wrapper-secondary .button-group .button-secondary {
    width: 60px;
    height: 60px;
    font-size: 2rem;
}

/* .wrapper-secondary .button-group .button-primary,
.wrapper-secondary .button-group .button-secondary {
    width: 100px;
    height: 100px;
    font-size: 4rem;
} */

/* Home Card */
.home-content .card {
    box-sizing: border-box;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 500px;
    height: 250px;
    border-radius: 20px;
    border: 1px solid var(--blue);
    z-index: 30;
    background-color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.home-content .wrapper-content .card .card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.home-content .wrapper-content .card img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.home-content .wrapper-content .card .card-content p {
    width: 200px;
    height: 80px;
}

/* Home Content Button */
.home-content .wrapper-content .card .button-group {
    display: flex;
    flex-direction: column;
}

.home-content .wrapper-content .card .button-primary {
    background-color: var(--blue);
    display: flex;
    color: white;
    font-weight: var(--font-title);
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
}

.home-content .wrapper-content .card .button-primary:hover {
    background-color: var(--blue-hover);
}

/* End Wrapper Primary */

/* End Home Content */

/* About Content */
.about-intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 90vh;
    margin-bottom: -500px;
}

.about-intro .building {
    filter: drop-shadow(3px 3px 0 var(--white));
    width: 800px;
    -webkit-filter: drop-shadow(3px 3px 0 var(--white));
}

.about-header {
    width: 600px;
}

.about-header .button-group {
    margin-top: 10px;
    display: flex;
    gap: 0.5rem;
}

.about-intro h1 {
    color: var(--blue);
    font-size: 3rem;
    font-weight: var(--font-title);
}

.about-intro p {
    color: var(--dark);
    font-weight: var(--font-desc);
}

.about-vision {
    display: flex;
    padding: 5rem;
    gap: 5rem;
    justify-content: space-evenly;
    background: var(--blue);
    color: white;
}

.about-story-content {
    width: 40%;
}

.about-story-content h2 {
    font-size: 1.8rem;
    font-weight: var(--font-title);
}

.about-mission-content {
    width: 40%;
}

.about-mission-content h2 {
    font-size: 1.8rem;
    font-weight: var(--font-title);
}

.about-value {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    margin-top: -500px;
    width: 100vw;
}

.about-value .about-avatar {
    width: 600px;
}
.about-value-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 900px;
}

.about-value-content h2 {
    font-size: 4rem;
    background: linear-gradient(to bottom, var(--blue-gradient));
    background-clip: text;
    color: transparent;
    font-weight: var(--font-title);
}

.about-value-content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.about-value-content ul li {
    display: flex;
    border-radius: 5px;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 400px;
    flex-direction: column;
    padding: 2rem;
    color: var(--white);
    background-color: var(--blue);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.about-value-content ul li > .title-value {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
}

.about-value-content ul li > .desc-value {
    font-weight: 400;
}

/* End About Content */

/*  */

/* Products Content */
.product-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-bottom: -500px;
}

.product-intro .input-product {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 15px 50px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 20px;
    color: var(--dark);
    background-color: var(--white);
    width: 400px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product-intro .input-product[type="search"]::-webkit-search-decoration,
.product-intro .input-product[type="search"]::-webkit-search-cancel-button,
.product-intro .input-product[type="search"]::-webkit-search-results-button,
.product-intro
    .input-product[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.product-intro button {
    background-color: var(--blue);
}

/* End Products Content */

/* Contact Content */
.contact-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 70vw;
}

.contact-intro h1 {
    font-size: var(--size-title);
    font-weight: var(--font-title);
    color: var(--blue);
}

.contact-intro .img-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.contact-intro .img-contact img {
    width: 80%;
}

.contact-intro form {
    border-radius: 2rem;
    width: 80%;
    padding: 20px 20px;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.contact-intro label {
    font-size: var(--size-desc);
    font-weight: var(--size-title);
    color: var(--dark);
}

.contact-intro label a {
    color: var(--blue);
}

.contact-intro input,
.contact-intro textarea {
    color: var(--blue);
    border: 2px solid var(--blue);
}

.contact-intro input:focus,
.contact-intro textarea:focus {
    border: 2px solid var(--blue);
    outline: none;
}

.contact-intro .label-contact {
    padding-top: 20px;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content button {
    margin-top: 12px;
}

/* End Contact Content */

/* Blog Content */
.post-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
}

.post-intro-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.post-intro-header h1 {
    font-size: var(--size-title);
    color: var(--blue);
    font-weight: var(--font-title);
}

.card-parent {
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.post-intro .card {
    background-color: var(--white);
}

.post-edit-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.post-edit-intro h1 {
    font-size: var(--size-title);
    font-weight: var(--font-title);
    color: var(--blue);
}

.post-edit-intro .card {
    width: 500px;
    padding: 20px;
    background-color: var(--white);
}

.post-edit-intro input {
    padding: 5px 15px;
    border-radius: 12px;
    font-weight: var(--font-desc);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.post-edit-intro input:focus {
    outline: 1px solid var(--blue);
}
.post-edit-intro textarea {
    padding: 5px 15px;
    height: 200px;
    border-radius: 12px;
    font-weight: var(--font-desc);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.post-edit-intro textarea:focus {
    outline: 1px solid var(--blue);
}

.post-edit-intro .group-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-create-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.post-create-intro h1 {
    font-size: var(--size-title);
    font-weight: var(--font-title);
    color: var(--blue);
}

.post-create-intro .card {
    width: 800px;
    background-color: var(--white);
}

.post-create-intro input {
    padding: 2px 3px;
    border-radius: 12px;
    font-weight: var(--font-desc);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.post-create-intro input:focus {
    outline: 1px solid var(--blue);
}
.post-create-intro textarea {
    padding: 2px 3px;
    border-radius: 12px;
    font-weight: var(--font-desc);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.post-create-intro textarea:focus {
    outline: 1px solid var(--blue);
}

.post-create-intro .group-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* End Blog Content */

/*  */

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    width: 100vw;
    height: 400px;
    padding: 20px;
}

footer .footer-logo {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 400px;
}

footer .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

footer .footer-content h3 {
    background: linear-gradient(to right, var(--white-gradient));
    color: transparent;
    font-size: 1.6rem;
    background-clip: text;
    font-weight: 600;
}

footer .footer-content p {
    background: linear-gradient(to right, var(--white-gradient));
    color: transparent;
    font-size: 1rem;
    background-clip: text;
    font-weight: 600;
}

footer .footer-about,
.footer-contact,
.footer-address {
    width: 300px;
}

.footer-contact i {
    color: white;
    font-size: 2rem;
}

/* End Footer */
